* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cyan;
}

.wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapper__first_container {
    display: flex;
    gap: 40px;
}

.website__p {
    color: blue;
    font-size: 60px;
}

.btn-plus {
    width: 100px;
    font-size: 60px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
}

.btn-plus:active {
    background-color: rgb(0, 205, 0);
}

.btn-minus {
    width: 100px;
    font-size: 60px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}

.btn-minus:active {
    background-color: rgb(143, 0, 0);
}

.wrapper__second_container {
    display: flex;
    gap: 10px;
}

.btn-two {
    width: 95px;
    font-size: 40px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
}

.btn-two:active {
    background-color: rgb(147, 96, 0);
}

.btn-ten {
    width: 95px;
    font-size: 40px;
    color: white;
    background-color: olivedrab;
    border: none;
    border-radius: 10px;
}

.btn-ten:active {
    background-color: rgb(141, 199, 26);
}

.btn-fifty {
    width: 95px;
    font-size: 40px;
    color: white;
    background-color: chartreuse;
    border: none;
    border-radius: 10px;
}

.btn-fifty:active{
    background-color: rgb(96, 192, 0);
}

.btn-refresh{
    width: 300px;
    font-size: 25px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
}

.btn-refresh:active{
    background-color: rgb(174, 174, 0);
}


